<h1>builtinpipes </h1>
<div><h3>{{firstcase| uppercase}}</h3></div>
<div><h3>{{secondcase| lowercase}}</h3></div>
<div><h3>{{dateExample | date}}</h3></div>
<div><h3>{{currency | currency}}</h3></div>
<div><h3>{{currency | currency:'INR'}}</h3></div>
<div><h3>{{currency | currency:'EUR'}}</h3></div>
<div><h3>{{dateExample | date:'longDate'}}</h3></div>
<div><h3>{{dateExample | date:'shortDate'}}</h3></div>
<div><h3>{{dateExample | date:'mediumDate'}}</h3></div>
<div><h3>{{percentexample | percent}}</h3></div>
<div><h3>{{percentexample | percent:'0.2-5'}}</h3></div>
<br>
<h1>chainingpipes</h1>
<div><h2>{{dateExample |date:'longDate' | uppercase}}</h2></div>
<div><h2>{{currency | currency:'INR' | lowercase}}</h2></div>